@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 221 39% 11%;
    --card: 0 0% 100%;
    --card-foreground: 221 39% 11%;
    --primary: 217 76% 51%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 17% 95%;
    --secondary-foreground: 221 39% 11%;
    --muted: 210 17% 95%;
    --muted-foreground: 215 14% 46%;
    --accent: 214 95% 93%;
    --accent-foreground: 207 65% 21%;
    --destructive: 0 72% 51%;
    --success: 160 84% 39%;
    --border: 214 14% 90%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 221 39% 11%;
    --foreground: 210 20% 98%;
    --card: 221 39% 14%;
    --border: 215 28% 17%;
  }
}
